In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
df = pd.read_csv("titanic.csv")

df

In [ ]:
plt.hist(df['Age'].dropna())
plt.title("Histogram of Age (Raw Data)")
plt.show()

In [ ]:
sns.boxplot(x=df['Fare'])
plt.title("Box Plot of Fare (Raw Data)")
plt.show()

In [ ]:
#Which Age group is dominating in dataset?-Histogram
#Histogram, to understand distributions
plt.hist(df['Age'].dropna(),bins = 5)
plt.title("Histogram of Age")
plt.xlabel("Age")
plt.ylabel("Frequency")
plt.show()

In [ ]:
#Identifying relationships and correlation bet. 2 continuous variables
#Scatter Plot, to study relationships
plt.scatter(df['Age'],df['Fare'])
plt.xlabel("Age")
plt.ylabel("Fare")
plt.title("Age vs Fare")
plt.show()

In [ ]:
#Box Plot with Seaborn
sns.boxplot(x=df['Fare'])
plt.title("Box Plot of Fare")

In [ ]:
#Box Plot with Seaborn
sns.boxplot(x=df['Survived'], y=df['Fare'])
plt.show()

In [ ]:
#Box Plot with Matplotlib
plt.boxplot(df['Fare'])
plt.show()

In [ ]:
#Gender count in Titanic
people_gender = df["Sex"].value_counts()

plt.bar(people_gender.index,people_gender.values)
plt.xlabel("Gender")
plt.ylabel("Counts")
plt.title("Number of Passengers by Gender")
plt.show()

In [ ]:
survival_counts = df["Survived"].value_counts()

survival_counts

plt.pie(survival_counts.values,
        labels = survival_counts.index
        # autoopct = '%1.1f%%'
       )

plt.title("Survival Distribution")
plt.show()

In [ ]:
class_counts = df['Pclass'].value_counts()

plt.bar(class_counts.index, class_counts.values)
plt.xlabel("Passenger Class")
plt.ylabel("Count")
plt.title("Passengers by Class")
plt.show()

In [ ]:
embarked_ = df["Embarked"].value_counts()
embarked_

plt.pie(embarked_.values,labels = embarked_.index)
plt.title("People boarded into Titanic")
plt.show();

In [ ]:
import plotly.graph_objects as go

fig = go.Figure()
fig.add_trace(go.Box(x=df['Fare'], name="Fare"))

fig.update_layout(title="Box Plot of Fare (Raw Data)")
fig.show()