In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

import plotly.express as px

In [ ]:
customers = pd.read_csv("customers(1).csv")
purchases = pd.read_csv("purchases.csv")

In [ ]:
customers

   CustomerID    Name  Age     City
0           1   Rahul   22    Delhi
1           2   Priya   35   Mumbai
2           3    Aman   42    Delhi
3           4  Kavita   29  Kolkata
4           5   Sonia   31   Mumbai

In [ ]:
purchases

   CustomerID Product  Qty  TotalPrice
0           1    Milk    2          60
1           2    Soap    1          40
2           3   Bread    1          25
3           1  Butter    1          45
4           5   Chips    3          60

In [ ]:
#Merging the 2 datasets through INNER JOIN
integrate = pd.merge(customers,purchases, on = "CustomerID", how = "inner")
integrate

   CustomerID   Name  Age    City Product  Qty  TotalPrice
0           1  Rahul   22   Delhi    Milk    2          60
1           1  Rahul   22   Delhi  Butter    1          45
2           2  Priya   35  Mumbai    Soap    1          40
3           3   Aman   42   Delhi   Bread    1          25
4           5  Sonia   31  Mumbai   Chips    3          60

In [ ]:
pd.merge(customers, purchases, left_on="CustomerID", right_on="CustomerID")
#merge() method by default performs "Inner Join"

   CustomerID   Name  Age    City Product  Qty  TotalPrice
0           1  Rahul   22   Delhi    Milk    2          60
1           1  Rahul   22   Delhi  Butter    1          45
2           2  Priya   35  Mumbai    Soap    1          40
3           3   Aman   42   Delhi   Bread    1          25
4           5  Sonia   31  Mumbai   Chips    3          60

In [ ]:
#This is Concatenation of Rows, but it's not a Data Integration
#This just shows how "concatenation" is different from "Data Integration using merge() with inner join"

integrate_1 = pd.concat([customers, purchases], axis=0)
integrate_1

   CustomerID    Name   Age     City Product  Qty  TotalPrice
0           1   Rahul  22.0    Delhi     NaN  NaN         NaN
1           2   Priya  35.0   Mumbai     NaN  NaN         NaN
2           3    Aman  42.0    Delhi     NaN  NaN         NaN
3           4  Kavita  29.0  Kolkata     NaN  NaN         NaN
4           5   Sonia  31.0   Mumbai     NaN  NaN         NaN
0           1     NaN   NaN      NaN    Milk  2.0        60.0
1           2     NaN   NaN      NaN    Soap  1.0        40.0
2           3     NaN   NaN      NaN   Bread  1.0        25.0
3           1     NaN   NaN      NaN  Butter  1.0        45.0
4           5     NaN   NaN      NaN   Chips  3.0        60.0