In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

import plotly.express as px
from sklearn.preprocessing import StandardScaler

In [ ]:
df = pd.read_csv("titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

Standardization(Z-Score)
<br>
![image.png]()

X = original value<br>
μ = mean of the feature<br>
σ = standard deviation<br>

Standardization is preferred when the data contains outliers or when the algorithm assumes a normal distribution.

In [ ]:
#Standardization using StandardScaler
scaler = StandardScaler()
df[["Age_std", "Fare_std"]] = scaler.fit_transform(df[["Age", "Fare"]])
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_std,Fare_std
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,-0.530377,-0.502445
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0.571831,0.786845
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,-0.254825,-0.488854
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0.365167,0.420730
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.365167,-0.486337
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,-0.185937,-0.386671
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,-0.737041,-0.044381
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,NaN,-0.176263
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,-0.254825,-0.044381
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0.158503,-0.492378

<h1>StandardScaler()</h1><br>

![image.png]()

X = original value<br>
μ = mean of the feature<br>
σ = standard deviation<br>

X = original value<br>
μ = mean of the feature<br>
σ = standard deviation<br>

The **StandardScaler** transforms data such that each feature has:

    A mean of 0
    A standard deviation of 1

This process is called standardization (or Z-score normalization). Unlike simple rescaling, it changes the distribution of the feature so that values are measured in terms of their distance (in standard deviations) from the mean. This is particularly useful when:

    The dataset follows (or approximately follows) a normal distribution.
    Algorithms assume standardized input (e.g., Linear Regression, Logistic Regression, PCA).

In [ ]:
#Standardization on Multiple columns in one go
df1 = df.copy()
cols = ["Age", "Fare", "SibSp", "Parch"]

scaler = StandardScaler()
df1[cols] = scaler.fit_transform(df1[cols])
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_std,Fare_std
0,1,0,3,"Braund, Mr. Owen Harris",male,-0.530377,0.432793,-0.473674,A/5 21171,-0.502445,NaN,S,-0.530377,-0.502445
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,0.571831,0.432793,-0.473674,PC 17599,0.786845,C85,C,0.571831,0.786845
2,3,1,3,"Heikkinen, Miss. Laina",female,-0.254825,-0.474545,-0.473674,STON/O2. 3101282,-0.488854,NaN,S,-0.254825,-0.488854
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,0.365167,0.432793,-0.473674,113803,0.420730,C123,S,0.365167,0.420730
4,5,0,3,"Allen, Mr. William Henry",male,0.365167,-0.474545,-0.473674,373450,-0.486337,NaN,S,0.365167,-0.486337
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,-0.185937,-0.474545,-0.473674,211536,-0.386671,NaN,S,-0.185937,-0.386671
887,888,1,1,"Graham, Miss. Margaret Edith",female,-0.737041,-0.474545,-0.473674,112053,-0.044381,B42,S,-0.737041,-0.044381
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,0.432793,2.008933,W./C. 6607,-0.176263,NaN,S,NaN,-0.176263
889,890,1,1,"Behr, Mr. Karl Howell",male,-0.254825,-0.474545,-0.473674,111369,-0.044381,C148,C,-0.254825,-0.044381
890,891,0,3,"Dooley, Mr. Patrick",male,0.158503,-0.474545,-0.473674,370376,-0.492378,NaN,Q,0.158503,-0.492378

In [ ]:
#Manual Standardization
df2 = df.copy()
df2["Age_std"] = (df2["Age"] - df2["Age"].mean()) / df2["Age"].std()
df2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_std,Fare_std
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,-0.530005,-0.502445
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0.571430,0.786845
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,-0.254646,-0.488854
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0.364911,0.420730
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.364911,-0.486337
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,-0.185807,-0.386671
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,-0.736524,-0.044381
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,NaN,-0.176263
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,-0.254646,-0.044381
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0.158392,-0.492378

**DATA PREPROCESSING STEPS:**

1. Data Cleaning: remove noise, fix missing values

2. Data Integration: combine data from different places

4. Data Transformation: convert data to meaningful formats

5. Data Reduction: reduce dimensionality, remove unnecessary attributes

https://www.geeksforgeeks.org/data-science/data-preprocessing-in-data-mining/

<h1>Normalization</h1>
Normalization is a scaling technique that transforms values into a fixed range, usually 0 to 1.

Both **Normalization and Standardization** have an aim to bring all values of different attributes to a similar scale, they are differently made because different algorithms work best with different types of scaling.

* Some algorithms work best with 0–1 range = Normalization
* Some algorithms work best with mean 0, std. 1 = Standardization

We can use **Normalization** for algorithms such as, **KNN, K-Means, Neural networks** because Normalization works best in these algorithms.

We can use **Standardization** for algorithms such as, **Logistic Regression, SVM, Linear Regression** because Standardization works best in these algorithms.

<H1>Difference Between <b> Normalization and Standardization</b></H1>

| **Normalization**                                      | **Standardization**                                 |
|--------------------------------------------------------|------------------------------------------------------|
| Scales data to a fixed range (usually 0 to 1)          | Centers data around mean 0 and standard deviation 1 |
| **Formula:** X' = (X − X_min) / (X_max − X_min)        | **Formula:** Z = (X − μ) / σ                        |
| Always between 0 and 1                                  | Values can be positive or negative                  |
| Best for distance-based algorithms (KNN, K-Means)       | Best for models needing normal distribution (SVM, PCA) |
| Used in K-Means, KNN, Neural Networks                   | Used in Logistic Regression, SVM, PCA, Linear Regression |
|  Sensitive to outliers                                | Less sensitive                                    |